# Full reference https://github.com/foundry-rs/foundry/tree/master/config

[profile.default]
  src = 'src'
  out = 'forge-artifacts'
  cache_path = 'forge-cache'
  libs = ["lib"]
  ignored_error_codes = [2424, 4591]  # Suppress deprecated natspec memory-safe-assembly and "more than 256 warnings" warnings
  remappings = [
    "forge-std/=lib/modulekit/node_modules/forge-std/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "erc7579/=lib/modulekit/src/accounts/common/",
    "modulekit/=lib/modulekit/src/",
    "flatbytes/=lib/flatbytes/src/",
    "@rhinestone/sentinellist/=lib/sentinellist/",
    "sentinellist/=lib/sentinellist/src/",
    "@ERC4337/account-abstraction/=lib/modulekit/node_modules/@ERC4337/account-abstraction/",
    "account-abstraction/=lib/account-abstraction/contracts/",
    "solady/=lib/solady/src/",
    "gmx-synthetics/=lib/gmx-synthetics/contracts/",
    "prb-math/=lib/prb-math/",
    "@chainlink/contracts/=lib/chainlink/contracts/",
    "src/=src/",
    "test/=test/"
  ]
  evm_version = 'cancun'
  solc_version = '0.8.33'
  via_ir = true
  extra_output = ["storageLayout", "evm.deployedBytecode.immutableReferences"]
  bytecode_hash = "ipfs"
  cbor_metadata = true
  build_info = true
  optimizer = true
  optimizer_runs = 200
  gas_reports = ["Mirror", "Account", "Settle", "Subscribe", "Router"]

[profile.default.optimizer_details]
  yul = true

[profile.default.optimizer_details.yulDetails]
  stackAllocation = true

[doc]
  ignore = ["**/interface/**/*.sol", "**/utils/**/*.sol", "**/shared/**/*.sol"]

[profile.prod]
  out = "forge-artifacts-prod"
  cache_path = "forge-cache-prod"
  optimizer_runs = 100_000
  fs_permissions = [
    { access = "read-write", path = "./deployments.json" },
    { access = "read-write", path = "./broadcast" }
  ]

[profile.ci.fuzz]
  runs = 1000

[profile.default.fuzz]
  max_test_rejects = 1_000_000 # Number of times `vm.assume` can fail
  runs = 256

[fmt]
  bracket_spacing = false
  int_types = "short"
  number_underscore = "preserve"
  quote_style = "double"
  multiline_func_header = "params_first"
  sort_imports = true
  tab_width = 4
  wrap_comments = true
  func_attrs_with_params_multiline = true

[rpc_endpoints]
  arbitrum = { url = "${RPC_URL}", chain_id = 42161 }

[etherscan]
  arbitrum = { key = "${ETHERSCAN_API_KEY}" }

[lint]
  # Exclude test folder from linting
  exclude_paths = ["test/**"]
  # Disable style/informational lints during build
  exclude_lints = [
    "screaming-snake-case-immutable",
    "screaming-snake-case-const",
    "mixed-case-variable",
    "mixed-case-function",
    "unused-import",
    "asm-keccak256",
    "unsafe-cheatcode",
    "erc20-unchecked-transfer"
  ]
